#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.profile.context.RelyingPartyContext'))
#set ($tokenContext = $authenticationContext.getSubcontext('edu.kit.scc.linotp.TokenContext', true))
##

#parse("kit-header.vm")

<form action="$flowExecutionUrl" autocomplete="off" method="post" class="full content">
    #parse("csrf/csrf.vm")

	<div class="text full">
		<h3>#springMessageText("idp.login.2fa", "Token-basierter Login")</h3>
		
		<div>
			#springMessageText("idp.login.2fa_desc", "")
		</div>
	</div>
	
	#if ($tokenContext.getMessage())
		<div class="full text">
			$tokenContext.getMessage()
		</div>
	#end
	
	
	<div class="form third" style="border: #bbbbbb 1px solid; padding: 0 1.5em 1.5em 1.5em;">
		<div style="margin-top: 12px;">
			<label for="tokenNumber">Token code:</label>
	   		<input class="form-element form-field" id="j_tokenNumber" name="j_tokenNumber" type="text" autofocus />
	    </div>
	    <div style="margin-top: 12px;">
	        <button class="form-element form-button" type="submit" name="_eventId_proceed"
	              onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait...")'"
	              >#springMessageText("idp.login.login", "Login")</button>
	    </div>
	</div>
	
	<div class="text full">
		<b>
			#springMessageText("idp.login.tokenlist", "Registrierte Tokens für Account") $tokenContext.getUsername():
		</b>
	</div>
	
	<ul class="list full">
	#foreach ($token in $tokenContext.getTokenList())
	<li>
	    #if ($token.getFailCount() >= $token.getMaxFailCount())
	  	  <div>
	  		<div style="color: gray;">$token.getTokenType() ($token.getSerial() - #springMessageText("idp.login.token_maxfail", "Zu viele Fehleingaben"))</div>
	  	  </div>
	    #elseif ($token.getTokenDesc().contains("BLOCKED"))
	  	  <div>
	  		<div style="color: gray;">$token.getTokenType() ($token.getSerial() - #springMessageText("idp.login.token_blocked", "Geblockt"))</div>
	  	  </div>
	    #elseif ($token.isActive())
	  	  <div>
	  		<div>$token.getTokenType() ($token.getSerial())</div>
	  	  </div>
	  	#else
	  	  <div>
	  		<div style="color: gray;">$token.getTokenType() ($token.getSerial() - #springMessageText("idp.login.token_deactivated", "Deaktiviert"))</div>
	  	  </div>
	  	#end
	</li>
	#end			
	</ul>

</form>

#parse("kit-footer.vm")