#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($tokenContext = $authenticationContext.getSubcontext('edu.kit.scc.linotp.TokenContext', true))
##

#parse("kit-header.vm")

	<div class="text">

	    <h1>#springMessageText("idp.login.2fa", "Token-basierter Login")</h1>
	    
        #parse("login-error.vm")

  		  #if ($tokenContext.getMessage())
			<div>
					$tokenContext.getMessage()
			</div>
		  #end

           <form action="$flowExecutionUrl" autocomplete="off" method="post">

	  	    <div style="width: 260px; padding: 16px; border: 1px solid #b3b3b3;">
			  <div style="position: relative; margin-top: 16px;">
                <label for="tokenNumber">Token code ($tokenContext.getUsername())</label>
                <input class="form-element form-field" id="j_tokenNumber" name="j_tokenNumber" type="text" autofocus />
			  </div>
			  
       	      <div style="text-align: center; margin-top: 12px; padding-bottom: 8px;">
                <button class="form-element form-button" type="submit" name="_eventId_proceed"
                  onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait...")'"
                  >#springMessageText("idp.login.login", "Login")</button>
			  </div>
            </div>

			<h2 style="margin-top: 16px;">#springMessageText("idp.login.tokenlist", "Registrierte Tokens"):</h2>

			  #foreach ($token in $tokenContext.getTokenList())
			    #if ($token.isActive())
			  	  <div style="padding: 16px;">
			  		<h3>#springMessageText("idp.login.token_$token.getTokenType()", $token.getTokenType()) ($token.getSerial())</h3>
			  		<div>#springMessageText("idp.login.token_$token.getTokenType()_desc", "")</div>
			  	  </div>
			  	#end
			  #end			
			
          </form>
      </div>

#parse("kit-footer.vm")
